body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background: #0255a8;
    color: white;
    padding: 10px 0;
}

nav {
    background: #f4f4f4;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #00509e;
    margin: 15px;
    padding: 5px 10px;
}

nav a:hover {
    background: #00509e;
    color: white;
}

main {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table caption {
    font-weight: bold;
    margin-bottom: 5px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background: #00509e;
    color: white;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}


footer {
    text-align: center;
    padding: 10px;
    background: #00509e;
    color: white;
    margin-top: 10px;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    table {
        font-size: 12px;
    }
}