body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: rgb(186, 106, 2);
}

.card {
    width: 250px;
    border: solid rgb(0, 105, 176);
    box-shadow: 3px 3px 4px black;
}

.card img {
    width: 100%
}