body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: rgb(186, 106, 2);
}

.Kangaroo {
    width: 600px;
    border: solid rgb(0, 105, 176); 
    overflow: hidden;
}

.Kangaroo img {
    width: 100%
}