body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: rgb(186, 106, 2);
}

.row {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 250px;
    border: solid rgb(0, 105, 176);
    box-shadow: 3px 3px 4px black;
    margin: 5px;
}

.card img {
    width: 100%
}

nav {
    background-color: rgb(163, 211, 248);
    display: flex;
    justify-content: space-around;
    display: none; /*to hide nav links when printing */
}
nav a {
    display: block;
    padding: 5px 10px;
    color: brown;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

header h1 {
    margin: 0;
}

header {
    background-color: rgb(0, 153, 255);
    color: azure;
}
