body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 300px;
    background-color:bisque

}
nav {
    width:200px;
    background-color: aqua;
}
nav ul{
    list-style-type: none;
}
nav li {
    display: inline;
}

nav a {
    display: block;
    padding: 10px   30px;
    border-bottom: thin solid white;
    background-color: aquamarine;
    float: left;
}

#spider {
    background-color: bisque;
    border: thin solid black;
    float: left;
}

.end {
    clear: both;
}



