body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
nav {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    width: 60%;

}

#family {
    border: solid black;
}
