body {
    background-color: rgb(251, 251, 251);
    font: weight 500;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
}
#kick {
    border: solid black;
    width: 290px;
    height: 460px;
    float: left;
    background-color: antiquewhite;
}

.end {
    clear: both;
}

.wrapper {
    width: 900px;
    margin: auto;
    background-color: rgb(242, 181, 100);
    height: auto;
    padding:10px;
    border: 100px;
    border-radius: 30px;
    box-shadow:none;
}

footer {
    width: 900px;
    margin: auto;
}

.fontsize {
    font-size: x-large;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height:1.5;
    text-transform:capitalize;
    text-shadow: rgb(0, 0, 0);
}

header {
    text-align: center;
    background-image: url(wood1.avif);

}
nav li {
    display: inline;
}

nav a {
    display:ruby;
    padding: 10px  30px;
    float: left;
    color: black;
}
nav a:hover {
    color: blue;
    background-color: white;
}