body {
    background-color: rgb(251, 251, 251);
}

#kick {
    border: solid black;
    width: 290px;
    height: 460px;
    float: left;
    background-color: antiquewhite;
}

.end {
    clear: both;
}

.wrapper {
    width: 900px;
    margin: auto;
    background-color: rgb(242, 181, 100);
}

footer {
    width: 900px;
    margin: auto;
}