body {
    font-family: Arial, Helvetica, sans-serif;
}

#first {
    color: blue;
}

.red {
    color:rgb(229, 17, 17);
}

.bigger{
    font-size: 20pt;
}

main .bigger {
    font-family: 'Courier New', Courier, monospace;
}

.bolder {
    font-weight: 600;
}
